* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a img {
    width: 80px;
    margin: 10px;
}

.burger>div>span {
    display: block;
    position: relative;
    background-color: white;
    width: 55px;
    height: 5px;
    margin-right: 20px;
    top: -17px;

}

.burger>div>span::before {
    content: "";
    position: absolute;
    display: block;
    background-color: white;
    width: 55px;
    height: 5px;
    top: 15px;
    margin-right: 20px;

}

.burger>div>span::after {
    content: "";
    position: absolute;
    display: block;
    background-color: white;
    width: 55px;
    height: 5px;
    top: 30px;
    margin-right: 20px;

}

.burger>.open>span::after {
    transform: rotate(-92deg);
    top: 0;

}

.burger>.open>span::before {
    display: none;
}

.burger>.open>span {
    transform: rotate(45deg);
    top: 0px;

}

.burger .active.content {
    display: block;
}

.burger .content {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    top: 100px;
    text-align: center;
    z-index: 20;
}

.burger .content>ul>li {
    list-style: none;
    margin: 40px;
    font-size: 2rem;
}

.burger .content>ul>li>a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.content-texte{
    width: 90%;
    margin: auto;  
}

.texte {
    position: absolute;
    bottom: 20%;
    transform: rotate(-5deg);
}

.texte h1 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
}

.texte h2 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.61);
}

@media screen and (max-width: 320px){
    .texte h2 {
        font-size: 9rem;
    }

    .texte h1 {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 720px) {
    .burger>div>span {
        width: 65px;
        height: 7px;
        top: -17px;

    }

    .burger>div>span::after {
        width: 65px;
        height: 7px;
        top: 30px;
        margin-right: 30px;
    }

    .burger>div>span::before {
        width: 65px;
        height: 7px;
        margin-right: 50px;
    }

    .texte {
        bottom: 25%;

    }

    .texte h1 {
        font-size: 4rem;
    }

    .texte h2 {
        font-size: 22rem;
    }
}

@media screen and (min-width: 1358px) {
    .burger>div {
        display: none;
    }

    .burger>.content {
        display: block;
        position: relative;
        background: none;
        top: 0;
        left: -25px;
    }

    .burger>.content>ul {
        display: flex;
    }

    .burger>.content>ul>li {
        margin: 30px;
    }

    .burger>.content>ul>li>a {
        color: white;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
    }

    .texte {
        bottom: 0%;
    }

    .texte h1 {
        font-size: 7rem;
    }

    .texte h2 {
        font-size: 39rem;
    }

}

@media screen and (min-width: 1700px) {
    
    .burger>.content {
        left: -45px;
    }

    .texte h1 {
        font-size: 9rem;
    }

    .texte h2 {
        font-size: 48rem;
    }

}

@media screen and (min-width: 3060px) {

    header {
        height: 200px;
    }

    header a img {
        width: 153px;
        margin: 23px;
    }

    .burger>.content {
        left: -150px;
    }

    .burger>.content>ul>li>a {
        color: white;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
    }

    .texte {
        bottom: 20%;
    }

    .texte h1 {
        font-size: 10rem;
    }

    .texte h2 {
        font-size: 73rem;
    }

}